 h1{
     text-align: center;
     margin-top: 50px;
 }
 body{
    background-image: url("img/ciprian.jpg");
    background-size: 100vmax;
    
    
}


#card{
   text-align: center;
   margin-left: 200px;
   margin-top: 50px;
   height: 300px;
   width: 250px;
   border: rgb(138, 118, 9) 4px solid;
   border-radius: 10px;
   
}
#countdown{
    text-align: center;
    font-size: 50px;
}
#but{
    background-color: rgb(114, 98, 7);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    
    
}
.block{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
.select {
    display: flex;
    flex-direction: column;
    align-items: center;
}  
